### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
books/Learning_Javascript/running.js
books/Learning_Javascript/printFunctionResult.js
node_modules
books/Learning_Javascript/node_modules
books/Learning_Javascript/package-lock.json